#ContactMe {
	display: flex;
	flex-flow: row wrap;
	column-gap: 2svw;
	row-gap: 4svh;
	min-height: 70svh;
	margin-top: 4svh;
	justify-content: space-evenly;
}

#ContactMe div {
	display: flex;
	flex-grow: 1;
	background-color: var(--card-background-color);
	border-radius: var(--card-border-radius);
	flex-direction: column;
	justify-content: center;
	margin: 2svh 0.5svw;
	padding: 2svh 1svw;
	max-width: 600px;
}

#ContactMe p {
	margin: 2svh 0svw;
	padding: 0svh 0svw;
}

#contact-me input {
	background-color: var(--card-background-color);
	border-radius: var(--card-border-radius);
	border-color: rgba(245, 245, 245, 0.5);
	border-width: 2px;
	padding: 1svh 0svw;
	margin: 1svh 0.5svw;
	color: inherit;
	align-items: start;
}

#contact-me textarea {
	background-color: var(--card-background-color);
	border-radius: var(--card-border-radius);
	border-color: rgba(245, 245, 245, 0.4);
	border-width: 2px;
	padding: 1svh 0svw;
	margin: 1svh 0.5svw;
	color: inherit;
	align-items: start;
	min-height: 25svh;
}

#contact-me button {
	border-radius: var(--card-border-radius);
	border-color: rgba(245, 245, 245, 0.5);
	padding: 1svh 0svw;
	margin: 1svh 0.5svw;
	color: inherit;
	align-items: start;
	background-color: rgba(0, 128, 0, 0.6);
	border-color: transparent;
}

#ContactMe input {
	background-color: var(--card-background-color);
	border-radius: var(--card-border-radius);
	border-color: rgba(245, 245, 245, 0.5);
	border-width: 2px;
	padding: 1svh 0svw;
	margin: 1svh 0.5svw;
	color: inherit;
	align-items: start;
}

#ContactMe textarea {
	background-color: var(--card-background-color);
	border-radius: var(--card-border-radius);
	border-color: rgba(245, 245, 245, 0.4);
	border-width: 2px;
	padding: 1svh 0svw;
	margin: 1svh 0.5svw;
	color: inherit;
	align-items: start;
	min-height: 25svh;
}

#ContactMe button {
	border-radius: var(--card-border-radius);
	border-color: rgba(245, 245, 245, 0.5);
	padding: 1svh 0svw;
	margin: 1svh 0.5svw;
	color: inherit;
	align-items: start;
	background-color: rgba(0, 128, 0, 0.6);
	border-color: transparent;
}
