footer {
	display: flex;
	flex-direction: column;
	text-align: center;

	background-color: #d3d3d3;
}

footer div {
	display: flex;
	flex-direction: row;
	flex: 1 1 2;
	justify-content: space-evenly;
}

footer img {
	height: 60px;
}

footer a {
	display: flex;
	flex-direction: column;
	align-items: center;

	border: 1px solid lightgray;
	text-decoration: none;
	color: inherit;
}
