#not-found {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80svh;
}

#not-found h1 {
	border-bottom: var(--underlineTitle);
	border-radius: var(--underlineTitleBorderRadius);
}

#not-found button {
	background-color: var(--card-background-color);
	border-radius: var(--card-border-radius);
	border: none;
	color: inherit;
	font-size: xx-large;
	padding: 1rem;
}

#not-found button:hover {
	cursor: pointer;
}

#not-found a {
	text-decoration: none;
	background-color: var(--card-background-color);
	border-radius: var(--card-border-radius);
	color: inherit;
}

#not-found a:hover {
	color: #91a4d2;
}
